<footer class="w-100 h-auto text-white" style="background: #131313;">
    <div class="w-100 h-auto px-5 d-flex flex-column flex-lg-row-reverse justify-content-between align-items-center">
        <div class="icon-logo">
            <a class="navbar-brand text-white text-right  d-block h2" style="color: black;font-size: 10rem;"
                href="#">ل<span style="color: aqua;display: inline;">و</span>گو</a>
            <div class="caption text-white mb-3 text-right">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
            </div>
        </div>
        <div class="social-icons-two">
            <img src="assets/images/youtube (2).svg" alt="" class="m-2">
            <img src="assets/images/telegram (2).svg" alt="" class="m-2">
            <img src="assets/images/whatsapp (2).svg" alt="" class="m-2">
        </div>
    </div>
    <div class="row text-search-menu px-5 d-flex flex-row-reverse justify-content-between">
        <div class="col-12 col-lg-4">
            <h3 class="text-right">جست و جوی سریع</h3>
            <hr class="bg-danger w-50 float-right">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="col-12 col-lg-4">
            <h3 class="text-right">جست و جوی سریع</h3>
            <hr class="bg-danger w-50 float-right">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="col-12 col-lg-4">
            <img src="assets/images/enamad.png" alt="" class="mx-auto">
            <!-- <h3 class="text-right">جست و جوی سریع</h3>
            <hr class="bg-danger w-50 float-right">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p> -->
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1622065825">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                opacity=".25" class="shape-fill"></path>
            <path
                d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                opacity=".5" class="shape-fill"></path>
            <path
                d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                class="shape-fill"></path>
        </svg>
    </div>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="aqua" fill-opacity="1" d="M0,160L288,64L576,224L864,192L1152,224L1440,128L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path></svg> -->
    <div class="copywrite w-100 p-4" style="background: rgb(1, 165, 165);">
        <p style="font-size: 15px;">
        کلیه حقوق سایت متعلق  <mat-icon>copyright</mat-icon> به محمدرضا جابری است
    </p>

    </div>
</footer>