<footer class="w-100 h-auto bg-dark text-white">
    <div class="w-100 h-auto px-5 d-flex flex-row-reverse justify-content-between align-items-center">
        <div class="icon-logo">
            <a class="navbar-brand text-white text-right  d-block h2" style="color: black;font-size: 10rem;"
                href="#">ل<span style="color: aqua;display: inline;">و</span>گو</a>
            <div class="caption text-white mb-3">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
            </div>
        </div>
        <div class="social-icons-two">
            <img src="../../assets/img/youtube (2).svg" alt="" class="m-2">
            <img src="../../assets/img/telegram (2).svg" alt="" class="m-2">
            <img src="../../assets/img/whatsapp (2).svg" alt="" class="m-2">
        </div>
    </div>
    <div class="cont-elements-footer px-5 d-flex flex-row justify-content-between">
        <div>
            <h3 class="text-right">جست و جوی سریع</h3>
            <hr class="bg-danger w-50 float-right">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div>
            <h3 class="text-right">جست و جوی سریع</h3>
            <hr class="bg-danger w-50 float-right">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div>
            <h3 class="text-right">جست و جوی سریع</h3>
            <hr class="bg-danger w-50 float-right">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="copywrite w-100  bg-black p-4">کلیه حقوق سایت متعلف به محمدرضا جابری است</div>
</footer>