<div class="wrapper" style="height:200%;background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
background-blend-mode: multiply;">
    <div class="container row">
        <div class="col-12 col-md-8" style="padding-top: 50px;">
            <img src="assets/images/13.png" id="notfoundpic" alt="" srcset="" class="w-100 h-100">

        </div>
        <div class="col-12 col-md-4" style="text-align: right;padding:20% 2%;">

            <div class="div" id="paranotfound">

                <div class="h4" style="color: white; font-weight: bold;">محتوای مورد نظر شما پیدا نشد</div>
                <div class="p" style="color: white; font-weight: bold;">متاسفانه محتوایی که شما به دنبال آن هستید در این
                    سایت وجود ندارد.شاید هم مشکل از ماست. به هر حال توصیه میکنیم دقیق تر به دنبال آن بگردید</div>

            </div>

        </div>

    </div>
</div>