<app-header></app-header>

<div style="padding-top: 200px">
  <mat-drawer-container class="example-container" autosize dir="rtl">

    <mat-drawer #drawer class="example-sidenav" mode="side" style="position: fixed;top: 100px;">
      <p class="shadow-sm" style="direction: rtl; text-align: right" dir="rtl">
        <mat-toolbar>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label style="text-align: right; font-size: 15px"
                >نام ماشین یا برند</mat-label
              >
              <input
                type="text"
                placeholder="انتخاب کنید"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
                style="
                  text-align: right;
                  font-family: vazir;
                  font-size: 15px;
                  width: 65%;
                "
                #sfield
              />
              <button
                mat-raised-button
                color="primary"
                type="button"
                (click)="doSearch(myControl.value)"
                style="font-family: vazir; font-size: 10px"
              >
                جست و جو
              </button>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                  style="text-align: right"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </mat-toolbar>
      </p>

      <div
        class="py-3 shadow-sm"
        style="direction: rtl; text-align: right"
        id="searchlist"
      >
        <section class="example-section">
          <span class="example-list-section">
            <mat-checkbox
              class="example-margin"
              [checked]="allComplete"
              [color]="task.color"
              (click)="allcheck()"
              [indeterminate]="someComplete()"
              (change)="setAll($event.checked)"
            >
              <span style="font-family: vazir; margin-right: 3px">
                {{ task.name }}
              </span>
            </mat-checkbox>
          </span>

          <span class="example-list-section">
            <ul>
              <li
                *ngFor="let subtask of task.subtasks"
                style="list-style-type: none; padding: 2px"
              >
                <mat-checkbox
                  [checked]="subtask.completed"
                  #newcheckbox
                  [color]="subtask.color"
                  (change)="updateAllComplete(subtask.name, $event)"
                  id="{{ subtask.name }}"
                >
                  <span style="font-family: vazir; margin-right: 3px" dir="rtl">
                    یرند : {{ subtask.name }}
                  </span>
                </mat-checkbox>
              </li>
              <hr />
              <li *ngFor="let reserve of task.reservasion" style="list-style-type: none;">
                <mat-checkbox
                  [checked]="reserve.completed"
                  (click)="reservaisonChange(reserve)"
                >
                  <span style="font-family: vazir; margin-right: 3px;" dir="rtl">
                    امکان رزرو : {{ reserve.name }}
                  </span>
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section>
      </div>
    </mat-drawer>

    <div class="example-sidenav-content text-right" dir="rtl" style="padding: 15px;">

      <button type="button" style="background: orangered;color: #f2f2f2;font-family: vazir;position: fixed;bottom: 500px;z-index: 999999;" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
        منوی جست و جو
      </button>

      <div class="card-columns row d-flex justify-content-center" style="padding: 15px;">
        <div
          class="card col-12 col-sm-6 col-md-4 col-lg-2"
          *ngFor="let item of getcars;let i = index" 
          style="color: black"
        >
          <!-- <img class="card-img-top" src="../../assets/img/cars/benz/benz-SL63.jpg"> -->
          <img class="card-img-top" [src]="item.img" />
          <div class="card-body" style="direction: rtl">
            <h4 class="card-title text-right">{{ item.name }}</h4>
            <p class="card-text text-muted text-right">
              برند : {{ item.brand }}
            </p>
          </div>
          <div class="price-cont">
            <p class="text-center" style="font-size: 15px; direction: rtl">
              امکان رزرو روزانه :
              <span
                class="d-inline"
                [ngClass]="{
                  'text-success': item.daily == true,
                  'text-danger': item.daily == false
                }"
                >{{ item.daily | trueStr }}</span
              >
              <br />
              امکان رزرو هفتگی :
              <span
                class="d-inline"
                [ngClass]="{
                  'text-success': item.weeky == true,
                  'text-danger': item.weeky == false
                }"
                >{{ item.weeky | trueStr }}</span
              >
              <br />
              امکان رزرو ماهانه :
              <span
                class="d-inline"
                [ngClass]="{
                  'text-success': item.monthy == true,
                  'text-danger': item.monthy == false
                }"
                >{{ item.monthy | trueStr }}</span
              >
            </p>
          </div>
          <button class="btn w-100" id="reg" style="position: relative; top: 0" (click)="gotolink(item)" routerLinkActive="router-link-active" >
            رزرو کنید
          </button>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>

<app-footer></app-footer>
