<app-header></app-header>

<header class="w-100" id="head">
    <div class="logo">
        <div class="logo-text" style="margin-top: 60px;">
            <a class="navbar-brand h2" style="color: white;" href="#">ل<span style="color: aqua;">و</span>گو</a>
            <p style="color:white;text-align: center;" class="h6">شعار وب سایت ما این است</p>
            <div class="lorem">
                <p class="w-50 text-white text-center">لورم ایپسوم متن ساختگی با
                    تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                    روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                    کاربردهای متنوع با هدف </p>
            </div>
        </div>
    </div>


    <form [formGroup]="formSearcher">
        <div id="cont-search" class="w-100 d-flex justify-content-center ">
            <div
                class="search-box-combo  d-flex flex-column flex-sm-row-reverse w-75 h-auto shadow-lg  bg-light rounded">

                <div class="coll-search-menu" id="coll-search-menu1">
                    <p class="text-search-menu"> اجاره استان </p>
                    <div class="icon-down-arrow">
                        <i class="fas fa-times-circle" id="fa-times-circle1" [style]="disp" (click)="closeicon1()"></i>
                        <input type="text" class="cityname" [style]="disp" formControlName="citySel">
                        <img src="../../assets/img/down-arrow.svg" (click)="cityOpen()">
                        <div class="cities bg-light shadow-lg">
                            <ul #citySel>
                                <li *ngFor="let item of cities" (click)='onClickCities($event)'>{{item.titleCity}}</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="coll-search-menu" id="coll-search-menu2">
                    <p class="text-search-menu">نوع ماشین</p>
                    <div class="icon-down-arrow">
                        <i class="fas fa-times-circle" id="fa-times-circle2" [style]="disp1" (click)="closeicon2()"></i>
                        <input type="text" class="cityname d-inline" [style]="disp1" formControlName="typeSel">
                        <img src="../../assets/img/down-arrow.svg" (click)="typeOpen()">
                        <div class="types bg-light shadow-lg">
                            <ul #typeSel>
                                <li *ngFor="let item of types" (click)='onClickTypes($event)'>{{item.titleType}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="coll-search-menu" id="coll-search-menu3">
                    <p class="text-search-menu">زمان اجاره</p>
                    <div class="icon-down-arrow">
                        <i class="fas fa-times-circle" id="fa-times-circle2" [style]="disp2" (click)="closeicon3()"></i>
                        <input type="text" class="cityname" [style]="disp2" formControlName="timeSel">
                        <img src="../../assets/img/down-arrow.svg" (click)="timeOpen()">
                        <div class="timesone bg-light shadow-lg">
                            <ul #timeSel>
                                <li *ngFor="let item of timesServ" (click)='onClickTimes($event)'>
                                    {{item.hour}}:{{item.minute}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="coll-search-menu rtl">

                    <button class="btn-primary rounded-right btn-search d-flex ">
                        <div class="img-counter-arrow-left">
                            &larr;
                        </div>
                        <p>جست و جو</p>
                    </button>


                </div>

            </div>

        </div>
    </form>

    <!-- </div> -->



</header>

<div class="my-4 mx-5" style="width:50%;height:700px;">
    <mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="25"
  slides="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>
</div>

<main class="w-100">

    <div class="conter-one">

        <div class="b-g-conter">
            <!-- <img src="../../assets/img/Layer 2.png" alt="bg" class="w-100" style="position: absolute;"> -->


            <div class="main-conter"
                style="width:100% !important;background: url(../../assets/img/1221-01.png);background-size: cover;background-repeat: no-repeat;">

                <div class="cards-icons w-75 d-flex m-auto row" style="padding: 200px 0;">

                    <div class="card-icon p-1 col-12 col-sm-6 col-md-5 col-lg-3">
                        <div class="cont-img bg-white w-75 shadow-lg p-2 rounded-top">
                            <img src="../../assets/img/believe.png" alt="" class="w-100">
                        </div>
                        <div class="card-body w-75 h-auto bg-white shadow-lg rounded-bottom">
                            <p class="text-center">اعتماد و اطمینان</p>
                            <p class="h6">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان
                                گرافیک است. چاپگرها و
                            </p>
                        </div>
                    </div>

                    <div class="card-icon p-1 col-12 col-sm-6 col-md-5 col-lg-3">
                        <div class="cont-img bg-white w-75 shadow-lg p-2 rounded-top ">
                            <img src="../../assets/img/login.png" alt="" class="w-100">
                        </div>
                        <div class="card-body w-75 h-auto bg-white shadow-lg rounded-bottom">
                            <p class="text-center">امنیت اطلاعات</p>
                            <p class="h6">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان
                                گرافیک است. چاپگرها و
                            </p>
                        </div>
                    </div>

                    <div class="card-icon  p-1 col-12 col-sm-6 col-md-5 col-lg-3">
                        <div class="cont-img bg-white w-75 shadow-lg p-2 rounded-top">
                            <img src="../../assets/img/money.png" alt="" class="w-100">
                        </div>
                        <div class="card-body w-75 h-auto bg-white shadow-lg rounded-bottom">
                            <p class="text-center">بیمه شخص ثالت</p>
                            <p class="h6">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان
                                گرافیک است. چاپگرها و
                            </p>
                        </div>
                    </div>

                    <div class="card-icon  p-1 col-12 col-sm-6 col-md-5 col-lg-3">
                        <div class="cont-img bg-white w-75 shadow-lg  rounded-top">
                            <img src="../../assets/img/online-learning.png" alt="" class="w-100">
                        </div>
                        <div class="card-body w-75 h-auto shadow-lg bg-white rounded-bottom">
                            <p class="text-center">دارای مجوز از وزارت کار</p>
                            <p class="h6">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان
                                گرافیک است. چاپگرها و
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="main-conter">
                <div class="best-serv w-100">
                    <div class="text-center w-50 m-auto" style="color: white !important;">
                        <h1 class="text-center">بهترین خدمات را از ما بگیرید</h1>
                        <p class="text-center"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                            از طراحان
                            گرافیک است. چاپگرها و متون لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از
                            طراحان گرافیک است. چاپگرها و متون </p>

                    </div>
                </div>
            </div>

            <div class="main-conter"
                style="padding:200px 0;width:100% !important;background: url(../../assets/img/1333.png);background-size: 110%;background-repeat: repeat-y;color:white">
                <div class="glass-icon-cont w-100 h-50 px-5 d-flex flex-row-reverse">
                    <div class="glass-icon rounded w-50 rounded-pill">
                        <img src="../../assets/img/space-shuttle.png" alt="" class="w-100 glass mr-5">
                    </div>
                    <div class="about-us-text mt-1 mb-0 d-flex flex-column align-items-center ">
                        <h1 class="text-center text-white" id="title-about-us-text" style="color: white !important;">
                            خدمات ما این است</h1>
                        <p class="text-center text-white w-75 m-auto" id="thisservme" style="color: white !important;">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                            از صنعت
                            چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                            که لازم
                            استیپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                            چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                            که لازم
                            است</p>
                        <button class="m-0 rounded" id="reservenet">!رزرو کنید</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



</main>

<div class="favorite" style="margin: 200px 0;">

    <div id="title-cont-specially" class="w-75 pl-5 pr-4 d-flex flex-row-reverse justify-content-between mb-4">
        <h1>خودرو های برند bmw</h1>

        <!-- <span>
            <p class="d-flex flex-row">

                <img src="../../assets/img/icons8-expand-arrow-50.png" alt="" id="img-one"
                    class="swiper-button-prev float-left mr-3">
                <img src="../../assets/img/icons8-expand-arrow-50.png" alt="" id="img-two"
                    class="swiper-button-next float-right">

            </p>
        </span> -->
    </div>
    <div class="cont-specially d-flex flex-row-reverse w-100">
        <img src="../../assets/img/Component 26 – 1.svg" alt="" img="one" class="px-2 w-25">
        <div id="swiper" class="swipercontainer w-75 pl-5 pr-4 d-flex">
            <swiper [slidesPerView]="3" [spaceBetween]="50" 
            [breakpoints]="{
                '500':{
                    slidesPerView:1,
                    spaceBetween:5
                },
                '640':{
                    slidesPerView:2,
                    spaceBetween:10
                },
                '768':{
                    slidesPerView:3,
                    spaceBetween:20
                },
                '1024':{
                    slidesPerView:4,
                    spaceBetween:50
                }
            }"
            (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"
                [navigation]="true" [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }">
                <ng-template swiperSlide *ngFor="let item of bmw">
                    <div class="card" style="color: black;">
                        <!-- <img class="card-img-top" src="../../assets/img/cars/benz/benz-SL63.jpg"> -->
                        <img class="card-img-top" [src]="item.img">
                        <div class="card-body" style="direction: rtl;">
                            <h4 class="card-title text-right">{{item.name}}</h4>
                            <p class="card-text text-muted text-right">برند : {{item.brand}} </p>
                        </div>
                        <div class="price-cont">
                            <p class="text-center" style="font-size: 15px;direction: rtl;">
                                امکان رزرو روزانه : <span class="d-inline "
                                    [ngClass]="{'text-success': item.daily==true,'text-danger': item.daily==false}">{{item.daily|trueStr}}</span>
                                <br>
                                امکان رزرو هفتگی : <span class="d-inline "
                                    [ngClass]="{'text-success': item.weeky==true,'text-danger': item.weeky==false}">{{item.weeky|trueStr}}</span>
                                <br>
                                امکان رزرو ماهانه : <span class="d-inline "
                                    [ngClass]="{'text-success': item.monthy==true,'text-danger': item.monthy==false}">{{item.monthy|trueStr}}</span>

                        </div>
                        <button class="btn w-100" id="reg" style="position: relative;top: 0;"> رزرو کنید</button>
                    </div>

                </ng-template>

            </swiper>
        </div>
    </div>

</div>


<div class="suggestions" style="margin-bottom: 200px;">
    <div id="title-suggestion" class="w-100 mb-4" style="direction: rtl;">

        <div class="w-75 pl-5 pr-4 d-flex flex-row-reverse justify-content-between mr-4 text-right"
            style="direction: ltr;">
            <h1>خودرو های برند تویوتا</h1>

            <!-- <span>
                <p class="d-flex align-items-center mt-4 pl-4">

                    <img src="../../assets/img/icons8-expand-arrow-50.png" alt="" id="img-one" srcset=""
                        class="swiper-button-prev float-left mr-3">
                    <img src="../../assets/img/icons8-expand-arrow-50.png" alt="" id="img-two" srcset=""
                        class="swiper-button-next float-right">

                </p>
            </span> -->
        </div>

    </div>
    <div class="suggestiontwo d-flex flex-row">
        <img src="../../assets/img/Component 27 – 1.svg" alt="one" class="px-2 w-25">
        <div id="swiper" class="swiper-container w-75 pr-5 pl-4 d-flex">
            <div class="card-columns swiper-wrapper">
                <swiper [slidesPerView]="3" [spaceBetween]="50" (swiper)="onSwiper($event)"
                    (slideChange)="onSlideChange()" [breakpoints]="{
                        '500':{
                            slidesPerView:1,
                            spaceBetween:5
                        },
                        '640':{
                            slidesPerView:2,
                            spaceBetween:10
                        },
                        '768':{
                            slidesPerView:3,
                            spaceBetween:20
                        },
                        '1024':{
                            slidesPerView:4,
                            spaceBetween:50
                        }
                    }" [navigation]="true" [pagination]="{ clickable: true }"
                    [scrollbar]="{ draggable: true } ">
                    <ng-template swiperSlide *ngFor="let item of toyota">
                        <div class="card" style="color: black;">
                            <!-- <img class="card-img-top" src="../../assets/img/cars/benz/benz-SL63.jpg"> -->
                            <img class="card-img-top" [src]="item.img">
                            <div class="card-body" style="direction: rtl;">
                                <h4 class="card-title text-right">{{item.name}}</h4>
                                <p class="card-text text-muted text-right">برند : {{item.brand}} </p>
                            </div>
                            <div class="price-cont">
                                <p class="text-center" style="font-size: 15px;direction: rtl;">
                                    امکان رزرو روزانه : <span class="d-inline "
                                        [ngClass]="{'text-success': item.daily==true,'text-danger': item.daily==false}">{{item.daily|trueStr}}</span>
                                    <br>
                                    امکان رزرو هفتگی : <span class="d-inline "
                                        [ngClass]="{'text-success': item.weeky==true,'text-danger': item.weeky==false}">{{item.weeky|trueStr}}</span>
                                    <br>
                                    امکان رزرو ماهانه : <span class="d-inline "
                                        [ngClass]="{'text-success': item.monthy==true,'text-danger': item.monthy==false}">{{item.monthy|trueStr}}</span>

                            </div>
                            <button class="btn w-100" id="reg" style="position: relative;top: 0;"> رزرو کنید</button>
                        </div>

                    </ng-template>

                </swiper>


            </div>
        </div>
    </div>
</div>


<div class="iranian-cars" style="margin-bottom: 200px;">

    <div id="title-iranian" class="w-100 mb-4" style="direction: rtl;">

        <div class="w-100 pl-5 pr-4 d-flex flex-row-reverse justify-content-between mr-4 text-right"
            style="direction: ltr;">
            <h1>خودرو های برند بنز</h1>


        </div>

    </div>

    <div class="suggestion-two d-flex flex-row">
        <!-- <img src="img/Component 27 – 1.svg" alt="one" class="px-5 col-12 col-sm-4 col-md-3 col-lg-2 "> -->
        <div id="swiper" class="swiperrcontainer w-100 px-4 d-flex">
            <div class="card-columns swiper-wrapper">
                <swiper [slidesPerView]="4" [spaceBetween]="50" (swiper)="onSwiper($event)"
                    (slideChange)="onSlideChange()" [breakpoints]="{
                        '400':{
                            slidesPerView:1,
                            spaceBetween:5
                        },
                        '500':{
                            slidesPerView:2,
                            spaceBetween:5
                        },
                        '640':{
                            slidesPerView:3,
                            spaceBetween:10
                        },
                        '768':{
                            slidesPerView:4,
                            spaceBetween:20
                        },
                        '1024':{
                            slidesPerView:5,
                            spaceBetween:50
                        }
                    }" [navigation]="true" [pagination]="{ clickable: true }"
                    [scrollbar]="{ draggable: true }">
                    <ng-template swiperSlide *ngFor="let item of benz">
                        <div class="card" style="color: black;">
                            <!-- <img class="card-img-top" src="../../assets/img/cars/benz/benz-SL63.jpg"> -->
                            <img class="card-img-top" [src]="item.img">
                            <div class="card-body" style="direction: rtl;">
                                <h4 class="card-title text-right">{{item.name}}</h4>
                                <p class="card-text text-muted text-right">برند : {{item.brand}} </p>
                            </div>
                            <div class="price-cont">
                                <p class="text-center" style="font-size: 15px;direction: rtl;">
                                    امکان رزرو روزانه : <span class="d-inline "
                                        [ngClass]="{'text-success': item.daily==true,'text-danger': item.daily==false}">{{item.daily|trueStr}}</span>
                                    <br>
                                    امکان رزرو هفتگی : <span class="d-inline "
                                        [ngClass]="{'text-success': item.weeky==true,'text-danger': item.weeky==false}">{{item.weeky|trueStr}}</span>
                                    <br>
                                    امکان رزرو ماهانه : <span class="d-inline "
                                        [ngClass]="{'text-success': item.monthy==true,'text-danger': item.monthy==false}">{{item.monthy|trueStr}}</span>

                            </div>
                            <button class="btn w-100" id="reg" style="position: relative;top: 0;"> رزرو کنید</button>
                        </div>

                    </ng-template>

                </swiper>



            </div>
        </div>
    </div>

</div>





<app-footer></app-footer>