.card-img-top
    width: 90%
    height: 40%

$display: none
@mixin displayer($disp:$display)
    display: $disp

body
    overflow: hidden
    background: rgb(247, 246, 246)

    .price-cont
        p
            font-size: (12px !important)

    .swiper-container
        width: 100%
        height: 100%

        .swiper-slide
            text-align: center
            font-size: 12px
            background: #fff
            display: -webkit-box
            display: -ms-flexbox
            display: -webkit-flex
            display: flex
            -webkit-box-pack: center
            -ms-flex-pack: center
            -webkit-justify-content: center
            justify-content: center
            -webkit-box-align: center
            -ms-flex-align: center
            -webkit-align-items: center
            align-items: center

.types
    width: (100% !important)
    display: none

    ul
        width: (100% !important)
        height: 300px
        list-style: none
        position: absolute
        right: 25%
        top: 20px
        background: #f5f5f5
        // display: flex
        // // flex-wrap: wrap
        // justify-content: center
        flex-direction: column
        padding-left: 0
        overflow: scroll

        div.w-100
            width: 100%
            // position: absolute
            // left: -146px
            // top: 43px

        li
            text-align: right
            width: 100%
            padding: 2.5px 5px
            transition: 0.1s
            border-top: 0.3px solid #74747418

            &:nth-child(3)
                color: #acacac

                &:hover
                    cursor: no-drop
                    background: #4b4b4b

            &:hover
                background: #da2f2f
                color: white

#coll-search-menu2
    &:hover
        .types
            display: block

.timesone
    width: (100% !important)
    display: none

    ul
        width: 100%
        height: 300px
        list-style: none
        position: absolute
        right: 25%
        top: 20px
        background: #f5f5f5
        display: flex
        // flex-wrap: wrap
        justify-content: center
        flex-direction: column
        padding-left: 0
        overflow: scroll

        div.w-100
            width: 100%

        li
            text-align: justify
            width: 100%
            padding: 2.5px 33.1px
            transition: 0.1s
            border-top: 0.3px solid #74747418

            &:nth-child(even)
                color: #acacac

                &:hover
                    cursor: no-drop
                    background: #4b4b4b

            &:hover
                background: #da2f2f
                color: white

#coll-search-menu3
    &:hover
        .timesone
            background: blue
            display: block

.search-box-combo
    input.cityname
        text-align: center
        color: #929292
        background: transparent
        width: (50% !important)
        border: (none !important)
        outline: (none !important)
        padding-bottom: 10px

    i
        position: absolute
        color: #929292
        transition: 0.3s

        &:hover
            color: red

.coll-search-menu
    display: flex
    align-items: center

    img
        position: relative
        left: 21%


@media only screen and (min-width: 1024px) and (max-width: 1365px)

.cities
    width: (100% !important)
    display: none

    ul
        width: 100%
        height: 300px
        list-style: none
        position: absolute
        right: 25%
        top: 20px
        background: #f5f5f5
        display: flex
        // flex-wrap: wrap
        justify-content: center
        flex-direction: column
        padding-left: 0
        overflow: scroll

        div.w-100
            width: 100%
            // position: absolute
            // left: -146px
            // top: 43px

        li
            text-align: justify
            width: 100%
            padding: 2.5px 33.1px
            transition: 0.1s
            border-top: 0.3px solid #74747418

            &:hover
                background: #da2f2f
                color: white

#coll-search-menu1
    &:hover
        .cities
            display: block

/*  Tablets in portrait mode, large display smartphones landscape mode */

@media only screen and (min-width: 768px) and (max-width: 1023px)
#logo-abisefid
    font-size:(160px !important)   
        
.search-box-combo
    height: (auto !important)

.logo-text
    font-size: 100%

@media only screen and (min-width: 421px) and (max-width: 767px)
#logo-abisefid
    font-size:(80px !important) 

.search-box-combo
    height: (auto !important)

.logo-text
    font-size: 80%
    

// a.navbar-brand
//     font-size: 80%


@media only screen and (max-width: 420px)
#logo-abisefid
    font-size:(60px !important) 

.search-box-combo
    height: (auto !important)

header#head
    margin-top: 100px

div.lorem
    p
        text-align: (right !important)

ul.navbar-nav
    li
        a
            font-size: 10px
